
<div class="table-responsive">

<h2>List Of Students</h2>

<table class="table">
	<tr>
		<td>
			Idcards:
		</td>
		<td>
			<%= @studentid.idcards %>
		</td>
	</tr>
	<tr>
		<td>
			Description:
		</td>
		<td>
			<%= @studentid.descp %>
		</td>
		<td>
			<%= link_to "Home Page", studentids_path %>
		</td>
	</tr>
</table>
</div>